<div class="container">
    <h1><%= @user.username %></h1>
    <ul class="list-group">
    <%= link_to "Edit Login", edit_user_registration_path, class: "list-group-item"%>
    <%= link_to "Edit Username", edit_user_registration_path, class: "list-group-item"%>
    <%= link_to "Show Posts", root_path, class: "list-group-item"%>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
    </ul>
</div>
