<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Welcome to Bloggergram!</h1>
    <p class="lead">Create posts and comment on other posts! The future of social media!</p>
    <p class="lead">=> Make comments display Username and have proper permissions. </p>
  </div>
</div>
<div class="album p-3 bg-light">
  <%= render 'post' %>
</div>